<a href="https://colab.research.google.com/github/MatheusLetra/python-studies/blob/master/Flor_de_Iris_SVM.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [16]:
from sklearn import datasets
import pandas
import seaborn

# criando a tabela de informações do conjunto
iris = datasets.load_iris()
data_frame = pandas.DataFrame(data=iris.data, columns=iris.feature_names)
data_frame['label'] = iris.target
data_frame['species'] = pandas.Categorical.from_codes(iris.target, iris.target_names)

data_frame[0:5]

   sepal length (cm)  sepal width (cm)  ...  label  species
0                5.1               3.5  ...      0   setosa
1                4.9               3.0  ...      0   setosa
2                4.7               3.2  ...      0   setosa
3                4.6               3.1  ...      0   setosa
4                5.0               3.6  ...      0   setosa

[5 rows x 6 columns]

In [17]:
data_frame[50:55]

    sepal length (cm)  sepal width (cm)  ...  label     species
50                7.0               3.2  ...      1  versicolor
51                6.4               3.2  ...      1  versicolor
52                6.9               3.1  ...      1  versicolor
53                5.5               2.3  ...      1  versicolor
54                6.5               2.8  ...      1  versicolor

[5 rows x 6 columns]

In [18]:
data_frame[100:105]

     sepal length (cm)  sepal width (cm)  ...  label    species
100                6.3               3.3  ...      2  virginica
101                5.8               2.7  ...      2  virginica
102                7.1               3.0  ...      2  virginica
103                6.3               2.9  ...      2  virginica
104                6.5               3.0  ...      2  virginica

[5 rows x 6 columns]

In [13]:
# importando o algoritmo SVM e os datasets da biblioteca
from sklearn import svm, datasets

# importando o módulo de divisão em dados de treino e dados de teste
from sklearn.model_selection import train_test_split


# carregando o conjunto de dados Flor de Iris 
iris = datasets.load_iris()
#  atribuindo os dados do conjunto e as possiveis classificações
dados  = iris.data
classificacoes = iris.target  # setosa, versicolor, virginica



# separando os dados e classificacoes em treino e teste atribuindo 30% dos dados do conjunto
# como dados de teste através do módulo 'train_test_split' que foi importado da biblioteca sklearn
dados_treino,  dados_teste, classificacoes_treino, classificacoes_teste = train_test_split( dados, classificacoes, test_size = 0.3)

# criando o classificador SVM
classificador = svm.SVC()
# treinando o classificador atribuindo como parametros as classificações
# e os dados que separamos para treino
classificador.fit(dados_treino, classificacoes_treino)


# Prevendo as classificações dos dados de teste
classificador.predict(dados_teste)

array([1, 0, 1, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 1, 2, 1,
       1, 2, 0, 0, 0, 1, 2, 2, 2, 0, 1, 2, 2, 1, 1, 1, 2, 2, 2, 2, 1, 0,
       2])

In [14]:
# exibindo as classificações corretas
classificacoes_teste

array([1, 0, 1, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 1, 0, 2, 1, 0, 1, 2, 1,
       1, 2, 0, 0, 0, 2, 2, 2, 2, 0, 1, 2, 2, 1, 1, 1, 2, 2, 2, 2, 1, 0,
       2])

In [15]:
# medindo a porcentagem de acerto do classificador
classificador.score(dados_teste, classificacoes_teste)

0.9555555555555556